@import '../../../node_modules/bootstrap/scss/_functions.scss';
@import '../../../node_modules/bootstrap/scss/_variables.scss';

$background: #343a40;
$backgroundHover: #495057;
$color: #dee2e6;
$borderColor: #495057;
$boxShadowRight: inset -5px 0 5px -5px #fff;
