/* small width */
@media (min-width: 42em) {
  .left-nav {
    .left-nav-item {
      i {
        font-size: 2em;
        display: block;
      }
    }
  }
}

/* medium width */
@media (min-width: 54em) {
  .left-nav {
    .left-nav-item {
      i {
        font-size: 3em;
        display: block;
      }
    }
  }
}

/* large width */
@media (min-width: 68em) {
  .left-nav {
    .left-nav-item {
      i {
        display: inline-block;
        font-size: 1em;
        margin-right: 8px;
      }
    }
  }
}
