.left-nav {
  /* Required */
  height: 100%;
  overflow: hidden;
  position: fixed;
  /* Custom */
  left: -16em;
  top: 56px;
  transition: all 0.075s ease-in;
  width: 16em;
  /* box-shadow: $boxShadowRight; */
}

.left-nav ul {
  list-style: none;
  padding-left: 0;
}

.left-nav ul li.left-nav-item {
  cursor: pointer;
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Small width */
@media (min-width: 42em) {
  .left-nav {
    width: 4em;
    left: 0;
  }

  .left-nav li.left-nav-item {
    text-align: center;
  }

  .left-nav li.left-nav-item .left-nav-item-title {
    display: none;
  }
}

/* Medium width */
@media (min-width: 54em) {
  .left-nav {
    width: 8em;
    left: 0;
  }

  .left-nav li.left-nav-item {
    text-align: center;
  }

  .left-nav li.left-nav-item .left-nav-item-title {
    display: inline-block;
  }
}

/* Large width */
@media (min-width: 68em) {
  .left-nav {
    width: 16em;
  }
  .left-nav li.left-nav-item {
    text-align: left;
  }
}
