@import '../../../node_modules/bootstrap/scss/_functions.scss';
@import '../../../node_modules/bootstrap/scss/_variables.scss';

$background: $gray-800;
$backgroundHover: $gray-700;
$color: $gray-300;
$borderColor: $gray-700;
$boxShadowRight: inset -5px 0 5px -5px $white;
