@media (min-width: 42em) {
  .content {
    margin-left: 4em;
  }
}

@media (min-width: 54em) {
  .content {
    margin-left: 8em;
  }
}

@media (min-width: 68em) {
  .content {
    margin-left: 16em;
  }
}
