.left-nav-items {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}

.left-nav-item {
  cursor: pointer;
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Small width */
@media (min-width: 42em) {
  .left-nav-item {
    text-align: center;
  }

  .left-nav-item-title {
    display: none;
  }
}

/* Medium width */
@media (min-width: 54em) {
  .left-nav-item {
    text-align: center;
  }

  .left-nav-item-title {
    display: inline-block;
  }
}

/* Large width */
@media (min-width: 68em) {
  .left-nav-item {
    text-align: left;
  }
}
